version: '3.1'

services:
  db:
    image: postgres:13.5
    restart: always
    volumes:
      - ./docker-data/db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${TOP90_DB_PASSWORD}
      POSTGRES_USER: ${TOP90_DB_USER}
      POSTGRES_DB: ${TOP90_DB_NAME}
    ports:
      - 5432:5432

  adminer:
    depends_on:
      - db
    image: adminer
    restart: always
    ports:
      - 8090:8080

  localstack:
    image: localstack/localstack:latest
    environment: 
      - AWS_DEFAULT_REGION=us-east-1
      - EDGE_PORT=4566
      - SERVICES=s3
      - PERSISTENCE=./docker-data/localstack-data
    ports: 
      - '4566-4583:4566-4583'
    volumes: 
      - "./docker-data/localstack-data:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
